@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-topbar: #f5efe1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.retro-title {
  color: var(--color-gray-600);
  padding: calc(var(--spacing) * 1);
  border-style: var(--tw-border-style);
  border-width: 1px;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-gray-100);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-300);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-gray-300);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-300);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-color: var(--color-gray-400);
}
